<mat-toolbar color="primary">
  <span><i style='margin-top: 5px;' class="material-icons">
      note</i> MyNote</span>
  <span style="flex: 1 1 auto;"></span>
  <mat-nav-list style="padding: 0;">

    <a mat-list-item routerLink="/notes-new" routerLinkActive="active"
      style="display: inline-block; width: auto; height: auto; color: #ffffff;">Add note</a>
    <a mat-list-item routerLink="/notes" routerLinkActive="active"
      style="display: inline-block; width: auto; height: auto; color: #ffffff">List notes</a>
  </mat-nav-list>
</mat-toolbar>

<router-outlet></router-outlet>